@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  min-height: 100vh;
}

//pages
@import "../pages/home/Home";
@import "../pages/products/Products";
@import "../pages/order_summary/OrderSummary";

//components
@import "../styles/HomeContentCard";
@import "../styles/Modal";

